@{
    ViewBag.Title = "Sobre Nosotros";
}

<div class="row">
    <div class="alert col-lg-6 col-lg-offset-3">
        <h2 class="title-type">@ViewBag.Title</h2>
        <hr />
        <p>
 <a href="http://EvaluandoSoftware.com" target="_blank" class="links-site">EvaluandoSoftware.com</a>, <a href="http://EvaluandoERP.com" target="_blank" class="links-site">
    EvaluandoERP.com</a>, <a href="http://EvaluandoCRM.com" target="_blank" class="links-site">
    EvaluandoCRM.com</a> y <a href="http://EvaluandoCloud.com" target="_blank" class="links-site">
    EvaluandoCloud.com</a>
    son los medios de divulgación de mayor importancia en América Latina que estudian,
    analizan, miden, comparan y recomiendan objetivamente software de gestión de negocios.
            <br><br>Evaluando mantiene un observatorio permanente sobre la oferta y la demanda del mercado
    específico que construye conocimiento en colaboración con la industria, los usuarios,
    los consultores y ámbitos académicos del mejor nivel de la región.
            <br>
            <br>
            Para más información comuniquese con nosotros <a href="/Contact">Aquí</a>
</p>
    </div>
</div>

