@{
    ViewBag.Title = "Home";
}
<div id="particles-js" class="row sat-home">
    <div class="col-md-6 col-md-offset-3 text-center">
        <h2>Obtener recomendación</h2>
        <p>
            Un proceso asistido te guiará preguntando por tus necesidades y perfil de proyecto. Recibirás una recomendación <strong>inmediata</strong> de producto o servicio ajustada a tus respuestas.
        </p>
        <p class="sat-disclaimer">Saturn es una herramienta imparcial e independiente de la relación comercial de las empresas proveedoras con Evaluando.</p>
        <a class="sat-btn" href="/Category">Comenzar</a>
    </div>
</div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/particles.js")"></script>