@{
    ViewBag.Title = "Plantillas de Evaluación";
}


<div class="container">
    <div class="row">
        <div class="titles col-lg-6 col-md-6">
            <h2>@ViewBag.Title</h2>
            <h4 class="title-type">Listado</h4>
        </div>
    </div>    
    <hr>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr class="alert-maker">
                    <th class="">Rubro</th>
                    <th>Fecha de Creaci&oacute;n</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in ViewBag.Categories)
                {
                    <tr>
                        <td>@category.Name</td>
                        <td>@category.CreatedAt</td>
                        <td>
                            <div class="pull-right">
                            <a href="/Admin/Evaluation/View/@category.Id" class="btn btn-info" role="button">Ver</a>
                            <a href="/Admin/Evaluation/Edit/@category.Id" class="btn btn-warning" role="button">Editar</a>
                            <a href="/Admin/Evaluation/Remove/@category.Id" class="btn btn-danger" role="button" onclick="return confirm('Estás seguro que quieres eliminar la categoría?')">Eliminar</a>
                            </div>
                        </td>
                    </tr>
                }
                <tr>
                    <td></td>
                    <td></td>
                    <td><a href="/Admin/Evaluation/Create" class="btn btn-primary pull-right" role="button">Crear Evaluaci&oacute;n</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

