@{
    ViewBag.Title = "Acceso Denegado";
}

<div class="jumbotron">
    <h1>Acceso Denegado</h1>
    <p class="lead">Usted no tiene autorización para acceder al contenido de esta página.</p>
    @Html.ActionLink("Ir al Inicio", "Index", "Home", null, new { @class = "btn btn-lg btn-primary" })
</div>