<ul class="nav navbar-nav">
    <li>
        <a href="/Admin/Evaluation">Plantillas de Evaluacion</a>
    </li>
    <li>
        <a href="/Admin/Evaluation/Usuarios/Index/1">Habilitar Usuarios</a>
    </li>
    <li>
        <a href="/Admin/EvaluationCompletion/Oferta">Oferta</a>
    </li>
    <li>
        <a href="/Admin/EvaluationCompletion/Demanda">Demanda</a>
    </li>
</ul>