<ul class="nav navbar-nav">
    <li><a href="/Product/Category">Completar Evaluaci&oacute;n</a></li>
    <li><a href="/Oferta/listProducts">Ver mis Productos y Servicios</a></li>
    <li><a href="/Oferta/DatosPersonales">Datos Personales</a></li>

</ul>

