@{
    ViewBag.Title = "AdminHome";
}

<div class="homeProveedores">
<div class="homeProveedoresContaine">
<div class="row">
    <div class="col-md-offset-3 col-md-6 ">
            <h1 class="text-center">Bienvenido al área de administración para los proveedores.</h1>
    </div>
</div>
<div class="container">
    <div class="row service">
        <div class="col-md-4 ">
            <div class="sat-services sat-Ds">
            <a class="" href="/Product/Category"><h2>Registrar producto o servicio &raquo;</h2></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="sat-services sat-Ds">
            <a class="" href="/Oferta/listProducts"><h2>Ver mis productos y servicios &raquo;</h2></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="sat-services sat-Ds">
            <a class="" href="/Contact"><h2>Datos personales  &raquo;</h2></a>
            </div>
        </div>
    </div>
</div>
</div>
</div>

