USE DB_109002_evaluador
GO
/****** Object:  Table [dbo].[MigracionClientes]    Script Date: 12/14/2017 12:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MigracionClientes](
	[userid] [nvarchar](255) NULL,
	[pwd] [nvarchar](255) NULL,
	[tipo] [nvarchar](255) NULL,
	[razonSocial] [nvarchar](255) NULL,
	[desc] [nvarchar](max) NULL,
	[web] [nvarchar](255) NULL,
	[direccion] [nvarchar](255) NULL,
	[ciudad] [nvarchar](255) NULL,
	[localidad] [nvarchar](255) NULL,
	[pais] [nvarchar](255) NULL,
	[mesInicio] [nvarchar](255) NULL,
	[mesCierre] [nvarchar](255) NULL,
	[nombreProducto] [nvarchar](255) NULL,
	[version] [nvarchar](255) NULL,
	[desc_prod] [nvarchar](max) NULL,
	[web_prod] [nvarchar](255) NULL,
	[contacto_com] [nvarchar](255) NULL,
	[contacto_com_Cargo] [nvarchar](255) NULL,
	[contacto_com_tel] [nvarchar](255) NULL,
	[contacto_com_mail] [nvarchar](255) NULL,
	[contacto_prod] [nvarchar](255) NULL,
	[contacto_prod_cargo] [nvarchar](255) NULL,
	[contacto_prod_tel] [nvarchar](255) NULL,
	[contacto_prod_mail] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
