/****** Object:  Table [dbo].[Migracion]    Script Date: 04/16/2018 11:12:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Migracion](
	[userid] [nvarchar](255) NULL,
	[pwd] [nvarchar](255) NULL,
	[tipo] [nvarchar](255) NULL,
	[razonSocial] [nvarchar](255) NULL,
	[desc] [nvarchar](max) NULL,
	[web] [nvarchar](255) NULL,
	[direccion] [nvarchar](255) NULL,
	[ciudad] [nvarchar](255) NULL,
	[localidad] [nvarchar](255) NULL,
	[pais] [nvarchar](255) NULL,
	[mesInicio] [nvarchar](255) NULL,
	[mesCierre] [nvarchar](255) NULL,
	[nombreProducto] [nvarchar](255) NULL,
	[version] [nvarchar](255) NULL,
	[desc_prod] [nvarchar](max) NULL,
	[web_prod] [nvarchar](255) NULL,
	[contacto_com] [nvarchar](255) NULL,
	[contacto_com_Cargo] [nvarchar](255) NULL,
	[contacto_com_tel] [nvarchar](255) NULL,
	[contacto_com_mail] [nvarchar](255) NULL,
	[contacto_prod] [nvarchar](255) NULL,
	[contacto_prod_cargo] [nvarchar](255) NULL,
	[contacto_prod_tel] [nvarchar](255) NULL,
	[contacto_prod_mail] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
