@{
    ViewBag.Title = "Registrar Producto o Servicio";
}

<h2>Registración</h2>

<h3>Gracias por registrarse!</h3>
<hr />

<div class="container">
    Le hemos enviado un correo electrónico a al dirección ingresada como contacto comercial, el mismo cuenta con un link al cual podrá acceder cuando desee para continuar con el proceso.
    <br />
    <br />
    Muchas gracias por utilizar el servicio de Evaluando Software!
</div>