@{
    ViewBag.Title = "Registrar Producto o Servicio";
}

<div class="container sat-spacing">
    <div class="row">
        <div class="sat-titlesOpening col-xs-12">
            <h2>Continuar luego</h2>
            <h4 class="title-type">Su recomendación fue guardada</h4>
        </div>
    </div>
    <div class="row sat-Ds">
        <div class="col-md-offset-3 col-md-6 alert alert-maker text-center">
            <p>¡Muchas gracias por utilizar Saturn!</p>
            <p>Su solicitud de recomendación fue guardada. Para continuar luego, podrá hacerlo a través del mail que fue enviado a su casilla.</p>
        </div>
    </div>
</div>