@{
    ViewBag.Title = "Registrar Producto o Servicio";
}
<div class="container sat-spacing">
    <div class="row">
        <div class="sat-titlesOpening col-xs-12">
            <h2>@ViewBag.Title</h2>
            <h4 class="title-type">Gracias!</h4>
        </div>
        <ol class="breadcrumb sat-breadcrumb" style="background-color: white;">
            <li>Rubro</li>
            <li>Registro</li>
            <li class="active">Fin</li>
        </ol>
    </div>
    <div class="row sat-Ds">
        <div class="col-md-offset-3 col-md-6 alert alert-maker text-center">
            <p>¡Muchas gracias por utilizar Saturn!</p>
            <p>Estaremos analizando su producto/servicio para aprobarlo pronto.</p>
        </div>
    </div>
</div>
