@{
    ViewBag.Title = "Creación de Usuario";
}


<hr>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-lg-offset-4 alert alert-info">
            <h2 style="margin:0 0 20px; padding:0">@ViewBag.Title</h2>
            Le hemos enviado un correo electrónico a al dirección ingresada y aguardamos su confirmación.
            <br />
            <br />
            Muchas gracias por utilizar el servicio de Evaluando Software!
        </div>
</div>