@model App.Models.Demanda.Continue.Email.ContinueViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p>
            Gracias por registrar su producto en Evaluando Software.
            Para poder continuar con el registro puede hacerlo accediendo al siguiente link: @Model.Link
        </p>
    </div>
</body>
</html>