@model App.Models.Demanda.Continue.Email.ContinueViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p>Gracias por utilizar Saturn.</p>
        <p>Para poder continuar con el proceso de recomendación aca clic en el siguiente link: @Model.Link</p>
    </div>
</body>
</html>